In [4]:
# Step 0. Import libraries and custom modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Step 1. Load data, show info and sample
# 1.1 Read data
df_raw = pd.read_excel(
   'https://github.com/datagy/mediumdata/raw/master/sample_pivot.xlsx', 
   parse_dates=['Date']
)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   datetime64[ns]
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [7]:
# 1.2 Show sample
df_raw.sample(5, random_state=1234)

          Date Region                 Type  Units  Sales
681 2020-11-27   East  Children's Clothing   32.0    342
990 2020-12-17  North  Children's Clothing    7.0    217
155 2020-06-13   East  Children's Clothing   30.0    336
768 2020-06-25  North     Women's Clothing    5.0    644
438 2020-10-07  North     Women's Clothing   30.0    462

In [ ]:
# Step 2. Transform to standard format
# 2.1 Create a pandas chain to convert to final form
df = (
    df_raw
    .copy()
    .set_axis(
        df_raw
        .columns.str.lower()
        .str.replace(' ','_')
        .str.replace(r'\W','',regex=True)
        .str.slice(0,40), axis=1
    )
    .astype({'region':'category', 
             'type':'category'})
    .assign(
        date = lambda x: pd.to_datetime(x['date'], format='%Y-%m-%d')
    )
    .set_index('date')
)
df.head()

           region                 type  units  sales
date
2020-07-11   East  Children's Clothing   18.0    306
2020-09-23  North  Children's Clothing   14.0    448
2020-04-02  South     Women's Clothing   17.0    425
2020-02-28   East  Children's Clothing   26.0    832
2020-03-19   West     Women's Clothing    3.0     33

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-07-11 to 2020-08-17
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  1000 non-null   category
 1   type    1000 non-null   category
 2   units   911 non-null    float64
 3   sales   1000 non-null   int64
dtypes: category(2), float64(1), int64(1)
memory usage: 25.7 KB

In [25]:
# Step 3. Perform busines analysis
# 3.1 Get the summary, for categorical and numerical columns
numeric_columns = df.describe()
object_columns = df.select_dtypes(include="category")

numeric_columns

            units        sales
count  911.000000  1000.000000
mean    19.638858   427.254000
std      9.471309   253.441362
min      3.000000    33.000000
25%     12.000000   224.000000
50%     20.000000   380.000000
75%     28.000000   575.000000
max     35.000000  1155.000000

In [ ]:
object_columns.describe()

       region              type
count    1000              1000
unique      4                 3
top      East  Women's Clothing
freq      411               424

In [ ]:
# 3.2 Get the sum of total sales
df["sales"].sum()

np.int64(427254)

In [30]:
# 3.3 Get the average of sales
df["sales"].mean()

np.float64(427.254)

In [ ]:
# 3.4 Get the sum of sales by region
sales_by_region = df.groupby("region")["sales"].sum()
print(sales_by_region)

/tmp/ipykernel_6006/632850390.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_by_region = df.groupby("region")["sales"].sum()

region
East     167763
North    138700
South     59315
West      61476
Name: sales, dtype: int64

In [ ]:
# 3.4 Get the average sales by region
average_sales_region = df.groupby("region")["sales"].mean()
print(average_sales_region)

region
East     408.182482
North    438.924051
South    432.956204
West     452.029412
Name: sales, dtype: float64

/tmp/ipykernel_6006/495243458.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_sales_region = df.groupby("region")["sales"].mean()

In [ ]:
# 3.5 Get the sum, mean and count of sales by region

In [11]:
# 3.6 Create a pivot table that gets total units by type

In [12]:
# 3.7 Display the dataset showing only the East region

In [13]:
# 3.8 Display the dataset showing only the East and West regions

In [14]:
# 3.9 Display the dataset showing East sales with units over 30

In [15]:
# 3.10 A data corruption has been detected. Add 1 to all units.

In [16]:
# 3.11 Another issue was detected, in West region add 2 to all units